</div>
<!-- end of main content -->
<footer class="page-footer teal" >
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">关于我们</h5>
          <p class="black-text text-lighten-4">
              正觉工场，企业互联网营销软件开发与服务商，我们致力于通过产品和服务帮助更多中小微企业自力更生，在移动社交时代保持个性和竞争力，共享互联网技术进步的成果，实现营销升级，轻松开店，高效赚钱。
          </p>


        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Settings</h5> -->
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="color: grey; font-size: 27px;">
          版权所有<i class="material-icons">copyright</i>正觉工场
      </div>
          
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541722990/zhengjue/js/jquery-2.1.1.min.js"></script>
  <script src="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541721645/zhengjue/js/materialize.min.js "></script>
  <script src="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541721644/zhengjue/js/init.js"></script>
<script>
  $('.carousel').ready(function(){
    console.log('.carousel ready');
    var elems = document.querySelectorAll('.carousel');
      var instance = M.Carousel.init(elems, {
        fullWidth: true,
        numVisible: 1,
        duration: 200,
      });
      setInterval(function(){
        instance[0].next(1);
      }, 3456)
  
  })
</script>
  </body>
</html>
