</div>
<!-- end of main content -->
<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">关于我们</h5>
          <p class="grey-text text-lighten-4">
            我们是一个创意无限，灵活多变，鸡厌狗烦，战斗力充沛的无聊无耻的团队。
          </p>


        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Settings</h5> -->
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="/js/init.js"></script>

  </body>
</html>
