</div>
<!-- end of main content -->
<footer class="page-footer teal" >
    <div class="container" style="height: 500px">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">&nbsp;</h5>
          <p class="black-text text-lighten-4">
            &nbsp;
          </p>


        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Settings</h5> -->
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="color: grey; font-size: 27px;">
          版权所有<i class="material-icons">copyright</i>正觉工场
      </div>
          
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541721645/zhengjue/js/materialize.min.js "></script>
  <script src="https://res.cloudinary.com/da7efhqvt/raw/upload/v1541721644/zhengjue/js/init.js"></script>
<script>
  $('.carousel').ready(function(){
    console.log('.carousel ready');
    var elems = document.querySelectorAll('.carousel');
    console.log(elems);
    if(elems.length !==0 ){
      var instance = M.Carousel.init(elems, {
        fullWidth: true,
        numVisible: 1,
        duration: 200,
      });
      setInterval(function(){
        instance[0].next(1);
      }, 3456)
    }
     
  
  });
  $('.collapsible').ready(function(){
      console.log("collapsible ready");
      
      var colElems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(colElems, {});
      $('.collapsible').collapsible();
    })
</script>
  <div class="row center mobile-footer-nav" style="position:fixed; z-index: 9999; background-color:white; width: 100%; bottom: -20px;">
      <a href="/" class="col s3 btn-large waves-effect waves-light white red-text">
        <i class="material-icons" style="position: relative;
        top: -7px;">home</i>
        <div style="position: relative;
        top: -47px;">首页</div> 
      </a >
      <a href="/cart" class="col s3 btn-large waves-effect waves-light white grey-text">
        <i class=" material-icons" style="position: relative;
        top: -7px;">shopping_cart</i>
        <div style="position: relative;
        top: -47px;">购物车</div>
        </a>
      <a href="/my/orders" class="col s3 btn-large waves-effect waves-light white grey-text"><i style="position: relative;
        top: -7px;" class=" material-icons">library_books</i>
        <div style="position: relative;
        top: -47px;">订单</div>
        </a>
      <a href="/my" class="col s3 btn-large waves-effect waves-light white grey-text">
        <i style="position: relative;
        top: -7px;" class=" material-icons">person</i>
        <div style="position: relative;
        top: -47px;">
          我的
        </div>
      </a>
    </div>
  </body>
</html>
