<% include ./layouts/frontend_header %>

<div class="container">
        <div class="row center">
                <h3 class="header col s12 light">500错误</h4>
        </div>
        <div class="row center">
                <h5 class="header col s12 light">服务器挂了</h5>
                <h5 class="header col s12 light">联系代码狗修复bug吧</h5>
        </div>
        <div class="row center">
                <a href="/"　class="btn" >返回首页</a>
        </div>
</div>


<% include ./layouts/frontend_footer %>
