
  <% include ./layouts/frontend_header %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light">您值得在赛博空间有一席之地</h5>
        </div>
        <div class="row center">
          <a  href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">立即开始</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/imgs/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>大标题１</h4>
              <div class="row">
                  <div class="col s12 left">
                    <div class="col s12 m5">
                      <h6  style="text-align: left;">小标题1</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>
                      <h6  style="text-align: left;">小标题2</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题3</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题4</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题5</h6>
                      <p class="flow-text" style="color: grey;text-align: left;font-size: 1em">I am Flow Text</p>
                      <div class="row">
                        <div class="col s5"><a class="waves-effect waves-light　blue btn-large">按钮1</a></div>
                        <div class="col s5"><a class="waves-effect waves-light red btn-large">按钮2</a></div>
                      </div>
                    </div>
                    <div class="col s12 m7">
                        <img class="responsive-img" src="//img.yzcdn.cn/public_files/2018/02/11/6d246a7ac6abbcee3c39ceb6396f3ec3.png" srcset="//img.yzcdn.cn/public_files/2018/02/11/d159123ec2a1a16bf590e4c971f8a681.png 2x" alt="">
                      </div>
                  </div>
                </div>
            </div>
          </div>
    
        </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">您的业务可以数倍增长！</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/imgs/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>大标题１</h4>
              <div class="row">
                 
                  <div class="col s12 left">
                      <div class="col s12 m7">
                          <img class="responsive-img" src="https://img.yzcdn.cn/public_files/2018/02/12/9de50602de27fc75b392fee1a43f9de6.png" srcset="//img.yzcdn.cn/public_files/2018/02/11/d159123ec2a1a16bf590e4c971f8a681.png 2x" alt="">
                        </div>
                    <div class="col s12 m5">
                      <h6  style="text-align: left;">小标题1</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>
                      <h6  style="text-align: left;">小标题2</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题3</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题4</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题5</h6>
                      <p class="flow-tex grey-text" style="text-align: left;font-size: 1em">I am Flow Text</p>
                      <div class="row">
                        <div class="col s5"><a class="waves-effect waves-light　blue btn-large">按钮1</a></div>
                        <div class="col s5"><a class="waves-effect waves-light red btn-large">按钮2</a></div>
                      </div>
                    </div>
                   
                  </div>
                </div>
            </div>
          </div>
    
        </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">选择了我们，就选择了明天.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/imgs/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <% include ./layouts/frontend_footer %>