
  <% include ./layouts/frontend_header %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light">为您开启赛博空间之门</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">立即开始</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/imgs/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">快速启动</h5>

            <p class="light">提供快速部署的且价格低廉，公司官网，微信电商，小程序，ERP, CRM等软体，并且指导和帮助客户使用，升级和维护。
              同时，我们也帮助完善软件运行系统，使得其性能最优。我们使用容器技术，不影响品质，使得这些服务占用资源更少，进一步节约您的进入互联网领域的成本。</p>
              <p><a href="/shop" class="waves-effect waves-light btn red darken-1">进入软件商城</a></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">顾问和咨询</h5>

            <p class="light">
              客户自身确认需求本身不是一件容易事情。我们提供基于大量数据的分析和对互联网的理解，给予您最诚恳，客观的，也最契合商业科技潮流的观点，使得您始终保持在商业理念的先进性。
            </p>
            <p><a href="/blog" class="waves-effect waves-light btn red darken-1">进入正觉博客</a></p>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">定制和研发</h5>

            <p class="light">
              创新和原创的优势不仅仅是在商业上是非常明显的，也是互联网公司回馈社会的最主要的方式。我们不仅仅是互联网软体提供商，同样也是互联网软体生产研发商。我们接受软体定制的服务需求，同时我们也有很多原创项目.
            </p>
            <p><a href="/original" class="waves-effect waves-light btn red darken-1">查看我们最前沿的项目</a></p>

          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/imgs/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/imgs/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <% include ./layouts/frontend_footer %>