
  <% include ./layouts/frontend_header %>
  <style>
    
    
   
    @media (max-width: 351px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100%;
        z-index: 500;
        height: 281px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      #preview-video{
        position: absolute;
        top: -60px;
        width: 100%;
        height: 500px;
      }
    }
    @media (max-width: 360px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100%;
        z-index: 500;
        height: 291px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      #preview-video{
        position: absolute;
        top: -60px;
        width: 100%;
        height: 500px;
      }
    }
    @media (max-width: 375px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100%;
        z-index: 500;
        height: 281px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      #preview-video{
        position: absolute;
        top: -60px;
        width: 100%;
        height: 500px;
      }
    }
   
    @media (max-width: 415px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100%;
        z-index: 500;
        height: 321px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      #preview-video{
        position: absolute;
        top: -45px;
        width: 100%;
        height: 500px;
      }
    }
    @media (min-width: 412px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100%;
        z-index: 500;
        height: 321px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      #preview-video{
        position: absolute;
        top: -45px;
        width: 100%;
        height: 500px;
      }
    }
    @media (min-width: 768px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100%;
        z-index: 500;
        height: 495px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #preview-video{
        position: absolute;
        top: -7px;
        width: 100%;
        height: 569px;
      }
    }
    
   
   
    @media (min-width: 1033px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100% !important;
        z-index: 500;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #preview-video{
        position: absolute;
        top: -187px;
        width: 100% !important;
        height: 1000px;
      }
    }
    @media (min-width: 1700px) {
      .top-offset{
        position: relative !important;
        background-color: #2116169e;
        width: 100% !important;
        z-index: 500;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #preview-video{
        position: absolute;
        top: -174px;
        width: 100% !important;
        height: 1500px;
      }
    }
   
  </style>
  <div id="index-banner" class="parallax-container" style="position: relative; top: -101px;">
    <div class="section no-pad-bot top-offset">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light">您值得在赛博空间有一席之地</h5>
        </div>
        <div class="row center">
          <a  href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">立即开始</a>
        </div>

      </div>
    </div>
      <div>
        <video id="preview-video" loop="loop" autoplay="autoplay" src="/imgs/preview.mp4" alt="Unsplashed background img 1">
        
      </div>
  </div>


  <div class="container" style="position: relative; top: -101px;">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>大标题１</h4>
              <div class="row">
                  <div class="col s12 left">
                    <div class="col s12 m5">
                      <h6  style="text-align: left;">小标题1</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>
                      <h6  style="text-align: left;">小标题2</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题3</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题4</h6>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题5</h6>
                      <p class="flow-text" style="color: grey;text-align: left;font-size: 1em">I am Flow Text</p>
                      <div class="row">
                        <div class="col s5"><a class="waves-effect waves-light　blue btn-large">按钮1</a></div>
                        <div class="col s5"><a class="waves-effect waves-light red btn-large">按钮2</a></div>
                      </div>
                    </div>
                    <div class="col s12 m7">
                        <img class="responsive-img" src="//img.yzcdn.cn/public_files/2018/02/11/6d246a7ac6abbcee3c39ceb6396f3ec3.png" srcset="//img.yzcdn.cn/public_files/2018/02/11/d159123ec2a1a16bf590e4c971f8a681.png 2x" alt="">
                      </div>
                  </div>
                </div>
            </div>
          </div>
    
        </div>
  </div>


  <div class="parallax-container valign-wrapper" style="position: relative; top: -101px; z-index: 333;">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">您的业务可以数倍增长！</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/imgs/background.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>大标题１</h4>
              <div class="row">
                 
                  <div class="col s12 left">
                      <div class="col s12 m7">
                          <img class="responsive-img" src="https://img.yzcdn.cn/public_files/2018/02/12/9de50602de27fc75b392fee1a43f9de6.png" srcset="//img.yzcdn.cn/public_files/2018/02/11/d159123ec2a1a16bf590e4c971f8a681.png 2x" alt="">
                        </div>
                    <div class="col s12 m5">
                      <h6  style="text-align: left;">小标题1</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>
                      <h6  style="text-align: left;">小标题2</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题3</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题4</h6>
                      <p class="flow-text grey-text" style="text-align: left; font-size: 1em">I am Flow Text</p>

                      <h6  style="text-align: left;">小标题5</h6>
                      <p class="flow-tex grey-text" style="text-align: left;font-size: 1em">I am Flow Text</p>
                      <div class="row">
                        <div class="col s5"><a class="waves-effect waves-light　blue btn-large">按钮1</a></div>
                        <div class="col s5"><a class="waves-effect waves-light red btn-large">按钮2</a></div>
                      </div>
                    </div>
                   
                  </div>
                </div>
            </div>
          </div>
          <br><br><br>
        </div>
  </div>


  <div class="parallax-container valign-wrapper" style="position: relative;z-index: 333; ">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">选择了我们，就选择了明天.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/imgs/background3.jpg" alt="Unsplashed background img 3"></div>

  </div>

  <% include ./layouts/frontend_footer %>