
  <% include ./layouts/frontend_header %>
  <style>
    .carousel-item img{
      height: 450px;
      max-height: 600px;
      width: 80% !important;
    }
    @media only screen and (max-width: 500px) {
      .carousel-item img{
        width: 100% !important;
        height: 300px;
      }
    }
  </style>
<div style="display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
align-items: center;">
    <div class="carousel carousel-slider center zhengjue-carousel" data-indicators="true">
        <div class="carousel-fixed-item center">
          <a href="/contacts/new" class="btn  waves-effect red">立即开始</a>
        </div>
        <div class="carousel-item center grey" href="#one!">
          <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865805/zhengjue/imgs/banner1.png" alt="">
          
        </div>
        <div class="carousel-item center brown" href="#two!">
          <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865810/zhengjue/imgs/banner2.png" alt="">
        </div>
        <div class="carousel-item center grey" href="#three!">
          <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865816/zhengjue/imgs/banner3.png" alt="">
        </div>
       
      </div>

</div>
  




  


  <div class="" style="position: relative; top: 0px;">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h3>微商城解决方案</h3>
              <div class="row">
                  <div class="col s12 left">
                    <div class="col s12 m5">
                      <h5  style="text-align: left;">现成网店模板，分分钟快速搭建，轻松上手</h5>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">多样化店铺功能，满足不同行业需求，拖拽完成页面装修，一键即可应用；</p>
                      <h5  style="text-align: left;">一店互通，全渠道曝光，扩大知名度</h5>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">微信、小程序、QQ、微博，多平台同步曝光，紧抓社交流量，网络无限商机；</p>

                      <h5  style="text-align: left;">爆款营销工具，裂变用户，提高成交率</h5>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">拼团、秒杀、会员、积分、优惠码,快速拉新，提高转化，打造火热销售氛围；</p>

                      <h5  style="text-align: left;">系统化后台管理，全面保障数据安全</h5>
                      <p class="flow-text" style="color: grey;text-align: left; font-size: 1em">营销数据实时监控，销售/客户信息完全自有，帮助商户调整决策</p>
                        <img class="responsive-img" src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865510/zhengjue/imgs/%E5%BE%AE%E5%95%86%E5%9F%8E%E4%BA%8C%E7%BB%B4%E7%A0%81.png" alt="">
                      <h6>微信扫一扫查看演示</h6>

                    </div>
                    <div class="col s12 m7" style="padding-top: 145px;"> 
                        <img class="responsive-img" src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721751/zhengjue/imgs/home_index_banner2.png"  alt="">
                      </div>
                  </div>
                  <div class="col s12 center">
                      <a href="/contacts/new" class="btn waves-effect large red">立刻预约</a>
                  </div>
                </div>
                <br><br><br>
               

            </div>
          </div>
    
        </div>
  </div>


  <div class="parallax-container valign-wrapper" style="position: relative; top: -101px; z-index: 333;">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865513/zhengjue/imgs/%E4%B8%AD%E9%83%A8%E5%B9%BF%E5%91%8A%E6%A0%8F1.1.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>分销电商解决方案</h4>
              <div class="row">
                 
                  <div class="col s12 right">
                      <div class="col s12 m7" style="padding-top: 55px;">
                          <img class="responsive-img" src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721750/zhengjue/imgs/home_index_banner1.png" alt="">
                          
                        </div>
                        
                    <div class="col s12 m5">
                      <h5  style="text-align: right;">商城+分销，创新销售模式</h5>
                      <p class="flow-text grey-text" style="text-align: right; font-size: 1em">有货既可公众号开店，粉丝/客户变销售，全民帮你卖</p>
                      <h5  style="text-align: right;">专业化分销系统，满足多样化需求</h5>
                      <p class="flow-text grey-text" style="text-align: right; font-size: 1em">支持商户自定义佣金奖励，收入自动分账，财务数据实时呈现</p>

                      <h5  style="text-align: right;">多种营销工具支持，助力社交裂变</h5>
                      <p class="flow-text grey-text" style="text-align: right; font-size: 1em">专属图文推广链接及二维码，便于微信、QQ等社群分享，低成本高回报</p>
                        <img class="responsive-img" src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865509/zhengjue/imgs/%E5%88%86%E9%94%80%E7%94%B5%E5%95%86%E4%BA%8C%E7%BB%B4%E7%A0%81.png" alt="">
                      <h6>微信扫一扫查看演示</h6>

                    </div>
                   
                  </div>
                </div>

            </div>
            <div class="col s12 center">
                <a href="/contacts/new" class="btn waves-effect large red">立刻预约</a>
            </div>
          </div>
          <br><br><br>
        </div>
  </div>


  <div class="parallax-container valign-wrapper" style="position: relative;z-index: 333; ">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">&nbsp;</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541865513/zhengjue/imgs/%E4%B8%AD%E9%83%A8%E5%B9%BF%E5%91%8A%E6%A0%8F2.2.png" alt="Unsplashed background img 3"></div>

  </div>
  <div class="container center">
      <div class="section">
          <div class="row center">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>适用行业</h4>
              <div class="row center" style="display: flex;
              width: 95%;
              min-width: 320px;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;">
              
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico1.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico2.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico3.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico4.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico5.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico6.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico7.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico8.png" alt="">
                 <img src="https://res.cloudinary.com/da7efhqvt/image/upload/v1541721740/zhengjue/imgs/home_ico9.png" alt="">
                </div>
            </div>
          </div>
          <br><br><br>
        </div>
  </div>
  <div class="container">
      <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>更多服务支持</h4>
              <div class="row">
                <div class="col s4 center">
                    <h6>贴心售后</h6> 
                    <p class="flow-text grey-text" style="text-align: center; font-size: 1em">客服一对一，跟进指导店铺运营问题</p>
                </div>
                <div class="col s4 center">
                    <h6>运营培训</h6> 
                <p class="flow-text grey-text" style="text-align: center; font-size: 1em">零售大咖、知名营销导师面对面培训交流</p>
                </div>
                <div class="col s4 center">
                    <h6>资源共享</h6> 
                    <p class="flow-text grey-text" style="text-align: center; font-size: 1em">本地商会及业内合作伙伴资源共享置换</p>
                </div>
                
                
               
              </div>
            </div>
          </div>
          <br><br><br>
        </div>
  </div>


  <% include ./layouts/frontend_footer %>