<% include ./layouts/frontend_header %>
<div class="container login-container">
        <div class="row">
            <div class="col s12 flow-text">用户管理</div>
            
               
               
        </div>
            <div class="row">
                <div class="col s3 ">
                    <a href="/reg" class="btn">新建</a>
                </div>
                </div>
                <div class="row">
                        <table class="responsive-table">
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>删除</th>
                                    <th>授权</th>
                                </tr>
                                </thead>
                        
                                <tbody>
                                   <% for(var i=0; i < users.length; i++){ %>
                                    <% if(!users[i].isSuper) { %>
                                        <tr>
                                            <td><%= users[i].username %></td>
                                            <td><%= users[i].email %></td>
                                           
                                            <td>
                                                    <a href="/users/delete/<%=users[i]._id%>" class="btn wave-effect red">删除</a>
                                                </td>
                                            <td>
                                                    <a href="/users/edit/<%=users[i]._id%>" class="btn wave-effect yellow">授权</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <% } %>
                                
                                </tbody>
                            </table>
                </div>

</div>

<% include ./layouts/frontend_footer %>
