/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility !important;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
nav ul a,
nav .brand-logo {
  color: white;
}

nav.nav-header {
  position: fixed;
  top: 0px;
  z-index: 666;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
  z-index: 667;
  
}
.sidenav-overlay{
  z-index: 668;
  left: 44%;
}
.sidenav{
  width: 44%;
  color: black;
}

.main-content{
  position: relative;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://res.cloudinary.com/da7efhqvt/image/upload/v1541721739/zhengjue/imgs/bg-all.jpg);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background: url(https://res.cloudinary.com/da7efhqvt/image/upload/v1541865513/zhengjue/imgs/%E5%BA%95%E5%9B%BE2.png) no-repeat;
  color: black;
  height: 500px;
  background-size: 100% 100%;
}

.footer-copyright{
  color: black;
  font-size: 27px;
}
